.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}


.title {
    margin: 6px auto 100px auto;
    font-weight: 600;
    font-size: 50px;
    color: #054A29;
    line-height: 60px;
    padding: 0 16px 6px 16px;
    border-bottom: 2px dashed #054A29;
}


.contents {
    display: flex;
    font-size: 26px;
    position: relative;
}


.bottleDiv {
    margin: auto auto 0 auto;
    position: relative;
}


.bottle {
    width: 284px;
}


.contentspan {
    position: absolute;
    top: 140px;
    left: 12px;
    width: 254px;
    height: 294px;
    background-color: argb(30 30 30 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: -1;
    overflow: hidden;
}

.inBottle {
    width: 254px;
    transition: height 0.3s ease-in-out;
}


.making {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.buttons {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-row-gap: 56px;
    margin: 300px 80px 110px 80px;
}


.makingNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 74px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 100%;
}


.NavItems {
    box-sizing: border-box;
    padding: 8px 0;
    font-size: 26px;
    color: var(--color-signature-green);
    border-bottom: 4px solid var(--color-signature-beige);
    transition: border-bottom 0.25s ease-in-out;
}

.NavItems::after {
    content: '';
    display: block;
    width: auto;
    position: relative;
    top: 12px;
    border-bottom: 4px solid var(--color-signature-green);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.NavItems:hover::after {
    transform: scaleX(1);
}

@keyframes NavAnimator {
    0% {
        border-width: 0;
    }
    100% {
        border-width: 100%;
    }
}


.NoteDescription {
    text-align: left;
    border-radius: 20px;
    border: 1.5px dashed #2C6E49;
    background: #FFFFFF;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
}


.searchArea {
    border: none;
    width: auto;
    height: 30px;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}


.comments {
    position: absolute;
    padding: 0 0 100px 0;
    background-color: #FFFFFF;
    border-radius: 37px;
    border: 1.5px dashed #2C6E49;
}


.filterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-signature-darkgreen);
    border-radius: 20px;
    margin: 10px 0;
    width: 100px;
    height: 40px;
    font-family: 'MapoFlowerIsland';
    font-size: 16px;
    background-color: transparent;
}


.PopupWindow {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 48px;
    text-align: left;
    padding: 100px 100px 0 100px;
    margin: 8px;
}
.PopupWindow::-webkit-scrollbar{ 
    display:none;
}


.NoteInfo {
    display: grid;
    grid-template-columns: 150px auto;
    grid-column-gap: 18px;
}

.NoteName {
    height: fit-content;
    padding: 8px 16px;
    border-radius: 18px;
    text-align: center;
    color: #FFFFFF;
    font-size: 26px;
}

.descriptions {
    font-size: 22px;
    line-height: 160%;
}


@media screen and (min-width: 1440px) {
    .PopupWindow {
        width: 850px;
        height: 650px;
    }
    .comments {
        left: 350px;
    }
}

@media screen and (min-width: 1120px) and (max-width: 1439px) {
    .PopupWindow {
        width: calc(100vw - 600px);
        height: 650px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .comments {
        left: 350px;
    }
}

@media screen and (max-width: 1119px) {
    .container {
        max-width: 800px;
    }
    .contents {
        flex-direction: column;
    }
    .comments {
        padding: 0 0 60px 0;
        width: calc(100vw - 40px);
        max-width: 800px;
        box-sizing: content-box;
        top: 460px;
        left: 0;
    }
    .PopupWindow {
        height: 650px;
        padding: 60px 60px 0 60px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .bottle {
        width: 220px;
    }
    .contentspan {
        position: absolute;
        top: 114px;
        left: 56px;
        width: 194px;
        height: 220px;
    }
    .inBottle {
        width: 194px;
    }
    .buttons {
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        justify-content: center;
        font-size: 10px;
    }
    .making {
        justify-content: center;
        align-items: center;
    }
    .NavItems {
        font-size: 20px;
    }
    .NoteDescription {
        width: 100%;
    }
}


@media screen and (max-width: 669px) {
    .comments {
        padding: 0 0 60px 0;
        width: calc(100vw - 40px);
        max-width: 800px;
        box-sizing: content-box;
        top: 405px;
        left: 0;
    }
    .PopupWindow {
        height: 650px;
        padding: 60px 60px 0 60px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .NoteInfo {
        grid-template-columns: 1fr;
        grid-template-rows: 38px 1fr;
        grid-row-gap: 18px;
    }
    .NoteName {
        font-size: 18px;
    }
    .descriptions {
        font-size: 18px;
    }
    .bottle {
        width: 180px;
    }
    .contentspan {
        position: absolute;
        top: 54px;
        left: 74px;
        width: 160px;
        height: 220px;
    }
    .inBottle {
        width: 160px;
    }
    .buttons {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .NavItems {
        font-size: 20px;
    }
}