.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 20px 0 20px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 54px;
}


.title {
    margin: 6px auto 120px auto;
    font-weight: 600;
    font-size: 50px;
    color: #054A29;
    padding: 0 16px 6px 16px;
    border-bottom: 2px dashed #054A29;
}


.description1 {
    margin: 10px auto;
    line-height: 160%;
    font-size: 30px;
    font-weight: 500;
}

.description2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.description3 {
    margin: 10px auto;
    line-height: 160%;
    font-size: 30px;
    color: #054A29;
    margin-top: 70px;
    font-weight: 500;
}


@media screen and (max-width: 669px) {
    .container {
        margin-top: 0px;
    }
    .title {
        display: none;
    }
    .description1, .description2, .description3 {
        font-size: 26px;
    }
}