.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto 0 auto;
    max-width: 600px;
}


.profile {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    isolation: isolate;
    background-color: #C4C4C4;
    margin-bottom: 12px;
}

.myname {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 55px;
}

.gotoLogin {
    color: #000000;
    border: none;
    text-decoration: none;
}

.fragrances {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.perfumes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}