.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto 0 auto;
    max-width: 600px;
}

.myname {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 55px;
}
.user_name {
    text-align: center;
    margin-bottom: 80px;
}

.gotoLogin {
    color: #000000;
    border: none;
    text-decoration: none;
    margin-bottom: 80px;
}

.fragrances {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.bookmark_fragrances {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.more {
    border: none;
    background-color: transparent;
    color: #054A29;
    width: 100%;
    margin-top: 20px;
}

.perfumes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}