.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.profile {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    isolation: isolate;
    background-color: #C4C4C4;
    margin-bottom: 12px;
}

.myname {
    font-size: 20px;
    font-weight: 600;
}

.gotoLogin {
    color: #000000;
    border: none;
    text-decoration: none;
}